html {
	font-family: Helvetica;
	background-color: #8caee6;
}


h1 {
	color: #020245;
}

.title {
	margin-top:  150px;
	text-align: center;
}

.infoSection {
	padding: 25px;
	background-color: #abcbff;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
  	border: 3px solid black;
  	border-radius: 15px;
  	margin-bottom: 20px;
  	margin-top:  50px;
}

.navBar {
	list-style: none;
	cursor:  pointer;
}

.navItem {
	font-size: 22px;
	padding: 5px;
	color: blue;
	text-decoration: underline;
}











